body {
  font-family: sans-serif;
  background-color: lightblue;
  font-style: oblique;
  font-variant: normal;
  font-weight: 300;
}
h2 {
  text-align: center;
  color: blue;
}
h3 {
  text-align: center;
  color: gray;
}
img {
  margin-left: auto;
  margin-right: auto;
  width: 100%
}
#contacts {
  text-align: center;
  text-decoration: underline;
}
pre{
  font-size: 60px;
}
